<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TODO APP </title>
	
<!-- Mdr C'est King Jukoo t'as fait l'erreur de mettre รงa sur public. Et, ban voilร que des connards comme moi vont pourir le code -->
	<!--<link rel="stylesheet" href="/assets/css/style.css">
		
		your css goes here  

	-->


</head>
<body>

			
	<h1>My Todo App ๐</h1>

	<ul>
	<% Data.forEach(( items , index ) =>  { %>

	 <li><a href="/delete/<%= index %>">โ</a> <%= items %> โ</li>

		<%})%>
	</ul>

	<form action="/add" method="post">
	<label for="do"> What can i do for you </label>

	<input type="text" name ="task" placeholder="What can i do for you" autofocus >

	<input type="submit" value="Save">

	</form>
</body>
</html>
