<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TODO APP </title>
	
	<!--<link rel="stylesheet" href="/assets/css/style.css">
		
		your css goes here  

	-->


</head>
<body>

			
	<h1>My Todo App 📝</h1>

	<ul>
	<% Data.forEach(( items , index ) =>  { %>

	 <li><a href="/delete/<%= index %>">✗</a> <%= items %> ✔</li>

		<%})%>
	</ul>

	<form action="/add" method="post">
	<label for="do"> What can i do for you </label>

	<input type="text" name ="task" placeholder="What can i do for you" autofocus >

	<input type="submit" value="Save">

	</form>
</body>
</html>
